/* ============================================================ */

html {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 20pt;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    /*
    background-image: url(../images/1280x1024.png);
    background-repeat: no-repeat;
    background-position: left top;
    */
    height: 100%;
    margin: 0;
    padding: 0;
}

.foil {
    height: 100%;
}

.page {
    min-height: 100%;
}

.body {
    overflow: auto;
    padding-bottom: 65px;
    padding-right: 1in;
}

.header {
    background-color: #fffc84;
    height: 125px;
    padding-left: 200px;
    text-align: center;
    background-image: url(../images/xmlss-1024.png);
    background-repeat: no-repeat;
    background-position: 10 20;
}

.header h1 {
    font-family: Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 26pt;
    padding-top: 40px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.header h2 {
    font-family: Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 20pt;
    padding-top: 0px;
    margin-top: 0px;
}

.body {
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    background-color: #fffc84;
    position: relative;
    background-image: url(../images/cc-1024.png);
    background-repeat: no-repeat;
    background-position: 3 3;
    margin-top: -48px; /* negative value of footer height */
    height: 48px;
    bottom: 0px;
    padding-left: 100px;
    clear: both;
}

img {
    padding-top: 1em;
}

.footer .content {
    padding-left: 400px;
    height: 0px;
}

.footer .license {
    padding-top: 8px;
    padding-left: 30px;
    font-size: 10pt;
    height: 0px;
}

.footer .foilnumber {
    text-align: right;
    padding-right: 30px;
    padding-top: 14px;
    font-size: 10pt;
    height: 0px;
}

/* ============================================================ */

.titlefoil {
    background-image: url(../images/radcliff.png);
    background-repeat: no-repeat;
    background-position: 0 120;
}

.titlefoil .header {
    background-color: white;
    background-image: url(../images/xmlssw-1024.png);
    background-repeat: no-repeat;
    background-position: 10 20;
}

.titlefoil .header h1 {
    padding-top: 20px;
    text-align: left;
}

.titlefoil .header h2 {
    text-align: left;
}

.titlefoil .body {
    padding-top: 260px;
    padding-left: 200px;
}

.titlefoil .body h1 {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 26pt;
    padding-top: 0px;
    padding-bottom: 0.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.titlefoil .body h2 {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 26pt;
    padding-top: 0px;
    padding-bottom: 0.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* ============================================================ */

pre {
    font-family: Courier New, Courier, monospaced;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
}

pre.xml {
    background-color: #E6E6E6;
}

pre.xslt {
    background-color: #FFFDCE;
}

pre.schema {
    background-color: #E5E7FE;
}

pre.other {
    background-color: #C7FFFF;
}

.xml .pi {
    color: #8C35C7;
}

.xml .el {
    color: #001A94;
}

.xml .att {
    color: #FC7F4C;
}

.xml .attval {
    color: #9E2E00;
}

.xml .ent {
    color: #979315;
}

.xml .xslt {
    color: #006AC6;
}

pre .p {
    color: #9E0000;
}

pre .kw {
    color: #001A94;
}

pre .str {
    color: #595837;
}

pre .re {
    color: #FC7F4C;
}

pre .func,
pre .const,
pre .var,
pre .param {
    color: black;
}
