@import url("pygments.css");

.foil-notes {
    display: none;
}

.foil-body {
    display: block;
}

html {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 20pt;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 1004px;
}

body {
    /*
    background-image: url(../images/1280x1024.png);
    background-repeat: no-repeat;
    background-position: left top;
    */
    height: 100%;
    margin: 0;
    padding: 0;
}

table tr td,
table tr th {
    font-size: 20pt;
}

.foil {
    height: 100%;
}

.page {
    min-height: 100%;
}

.body {
    overflow: auto;
    padding-bottom: 65px;
    padding-right: 1in;
}

.header {
    background-color: #fffc84;
    height: 125px;
    text-align: center;
    background-image: url(../images/xmlss-1024.png);
    background-repeat: no-repeat;
    background-position: 10 20;
}

.header h1 {
    font-family: Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 26pt;
    padding-top: 40px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.header h2 {
    font-family: Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 20pt;
    padding-top: 0px;
    margin-top: 0px;
}

.body {
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    background-color: #fffc84;
    position: relative;
    background-image: url(../images/cc-1024.png);
    background-repeat: no-repeat;
    background-position: 3 3;
    margin-top: -48px; /* negative value of footer height */
    height: 48px;
    bottom: 0px;
    padding-left: 100px;
    clear: both;
}

img {
    padding-top: 1em;
}

.footer .content {
    padding-left: 400px;
    height: 0px;
}

.footer .license {
    padding-top: 8px;
    padding-left: 30px;
    font-size: 10pt;
    height: 0px;
}

.footer .foilnumber {
    text-align: right;
    padding-right: 30px;
    padding-top: 14px;
    font-size: 10pt;
    height: 0px;
}

.footer .foilnumber:before {
  content: " Slide ";
}

/* ============================================================ */

.titlefoil {
    background-image: url(../images/radcliff.png);
    background-repeat: no-repeat;
    background-position: 0 120;
}

.titlefoil .page {
    background-image: url(../images/xmlssw-1024.png);
    background-repeat: no-repeat;
    background-position: 10 20;
}

.titlefoil .header {
    margin-left: 200px;
    background-color: white;
    background-image: none;
}

.titlefoil .mlheader {
    margin-left: 200px;
    background-color: white;
    background-image: url(../images/marklogic-logo.gif);
    background-repeat: no-repeat;
    background-position: 470 40;
}

/*
.titlefoil {
    background-image: url(../images/radcliff.png);
    background-repeat: no-repeat;
    background-position: 0 120;
}

.titlefoil .page {
}

.titlefoil .header {
    background-color: white;
    background-image: url(../images/xmlssw-1024.png);
    background-repeat: no-repeat;
    background-position: 10 20;
}
*/

.titlefoil .header h1 {
    padding-top: 20px;
    text-align: left;
}

.titlefoil .header h2 {
    text-align: left;
}

.titlefoil .body {
    padding-top: 260px;
    padding-left: 200px;
}

.titlefoil .body h1 {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 26pt;
    padding-top: 0px;
    padding-bottom: 0.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.titlefoil .body h2 {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 26pt;
    padding-top: 0px;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0px;
}

.titlefoil .body h3 {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 18pt;
    padding-top: 0px;
    padding-bottom: 0.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* ============================================================ */

.foilgroup .header h1 {
    padding-top: 400px;
    font-size: 28pt;
    text-align: right;
    padding-right: 20px;
}

.foilgroup .body {
    margin-top: 400px;
    padding-top: 0px;
    overflow: auto;
    font-size: 20pt;
}

/* ============================================================ */

.foilinset {
    border: solid black 1px;
    padding: 1em;
    margin-left: 3em;
    width: 40%;
    float: right;
    font-size: 10pt;
}

/* ============================================================ */

.helpdialog {
    font-size: 12pt;
}

/* ============================================================ */

pre {
    font-family: Courier New, Courier, monospaced;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
}

.wide pre {
        font-size: 0.9em;
}

.xml {
    background-color: #E6E6E6;
}

.xslt {
    background-color: #FFFDCE;
}

.schema {
    background-color: #E5E7FE;
}

.other {
    background-color: #C7FFFF;
    color: #9E0000;
}

.wide {
    font-size: 0.75em;
}

.hideli {
    display: none;
}

.showli {
    display: list-item;
}

.xml .pi {
    color: #8C35C7;
}

.xml .el {
    color: #001A94;
}

.xml .att {
    color: #FC7F4C;
}

.xml .attval {
    color: #9E2E00;
}

.xml .ent {
    color: #979315;
}

.xml .xslt {
    color: #006AC6;
}

pre .p {
    color: #9E0000;
}

pre .kw {
    color: #001A94;
}

pre .str {
    color: #595837;
}

pre .re {
    color: #FC7F4C;
}

pre .func,
pre .const,
pre .var,
pre .param {
    color: black;
}

.strike {
    text-decoration: line-through;
    color: black;
}

.gray {
    color: #BBBBBB;
}

ul.toc a,
ul.toc a:visited {
    color: black;
    text-decoration: none;
}

.center {
    text-align: center;
}


/* ============================================================ */

.clicknav {
    position: absolute;
    top: 0;
    right: 0;
}

.shownav {
    position: absolute;
    top: 0;
    right: 0;
}

/* ============================================================ */

.timer {
    position: relative;
    top: 35;
    left: 732;
    height: 0px;
    width: 40px;
    font-size: 10px;
    font-weight: medium;
}

.overtime {
    color: red;
    font-style: normal;
}

.lowtime {
    font-style: italic;
}

/* ============================================================ */

.authorgroup {
    display: table;
    border-spacing: 1em;
}

.authorgroup .author {
    display: table-cell;
}

/* ============================================================ */

@media print
{
    .newpage {
        page-break-before: always;
    }

    .hideli {
        display: list-item;
    }

    .foil {
        border: 0;
        margin: 0 5%;
        padding: 0;
    }

    .footer .foilnumber {
        display: none;
    }
}
